{% extends "::base.html.twig" %}

{% block header %}
<h1 class="change_password">Password Change</h1>
{% endblock header %}

{% block body %}
<form class="change_password well form-horizontal" action="{{ path('fos_user_change_password') }}" {{ form_enctype(form) }} method="POST">
    <fieldset>
        {{ form_widget(form) }}
    </fieldset>
    <div class="form-actions">
        <button class="btn btn-primary" type="submit">{{ 'change_password.submit'|trans({}, 'FOSUserBundle') }}</button>
    </div>
</form>
{% endblock body %}
