{% extends "::base.html.twig" %}

{% block header %}
<h1 class="registration">Registration</h1>
{% endblock header %}

{% block body %}
<form class="registration well form-horizontal" action="{{ path('fos_user_registration_register') }}" {{ form_enctype(form) }} method="POST">
    <fieldset>
        {{ form_widget(form) }}
    </fieldset>
    <div class="form-actions">
        <button class="btn btn-primary" type="submit">{{ 'registration.submit'|trans({}, 'FOSUserBundle') }}</button>
    </div>
</form>
{% endblock body %}
