{% extends '::base.html.twig' %}

{% block header %}
<h1 class="login">Login</h1>
{% endblock %}

{% block body %}
<form class="login well form-horizontal" action="{{ path('login_check') }}" method="post">
    {% if error %}
    <div class="alert alert-error">{{ error.message }}</div>
    {% endif %}
    <input type="text" name="username" class="input-xlarge control-group" placeholder="Email" value="{{ last_username }}">
    <input type="password" name="password" class="input-xlarge control-group" placeholder="Password">
    <button type="submit" class="btn btn-primary input-medium">Sign in</button>
</form>
{% endblock %}

{% block footer %}
{% endblock %}
